@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Common */
    --common-duration-veryfast: 100ms;
    --common-duration-fast: 250ms;
    --common-duration-medium: 500ms;
    --common-duration-slow: 1000ms;
    --common-duration-veryslow: 2000ms;
    --common-opacity-highlight: 0.2;
    --common-opacity-disabled: 0.5;
    --common-opacity-loading: 0.8;
    --common-opacity-image-hover: 0.8;
    --common-breakpoint-mobile-small: 390px;
    --common-breakpoint-mobile: 600px;
    --common-breakpoint-tablet-small: 720px;
    --common-breakpoint-tablet: 960px;
    --common-breakpoint-desktop-small: 1280px;
    --common-breakpoint-desktop: 1920px;
    --common-effect-material-blur: 50px;
    --common-z-index-app-bar: 1100;
    --common-z-index-drawer: 1200;
    --common-z-index-modal: 1300;
    --common-z-index-dropdown: 1350;
    --common-z-index-snackbar: 1400;
    --common-z-index-tooltip: 1500;
    --common-shadow-top-sm: 0px -1px 1px rgba(0, 0, 0, .1), 0px -2px 2px rgba(0, 0, 0, .1), 0px -4px 4px rgba(0, 0, 0, .1), 0px -6px 8px rgba(0, 0, 0, .1), 0px -8px 16px rgba(0, 0, 0, .1);
    --common-shadow-top-md: 0px -2px 1px rgba(0, 0, 0, .1), 0px -4px 2px rgba(0, 0, 0, .1), 0px -8px 4px rgba(0, 0, 0, .1), 0px -16px 8px rgba(0, 0, 0, .1), 0px -32px 16px rgba(0, 0, 0, .1);
    --common-shadow-right-sm: 1px 0px 1px rgba(0, 0, 0, .1), 2px 0px 2px rgba(0, 0, 0, .1), 4px 0px 4px rgba(0, 0, 0, .1), 6px 0px 8px rgba(0, 0, 0, .1), 8px 0px 16px rgba(0, 0, 0, .1);
    --common-shadow-right-md: 2px 0px 1px rgba(0, 0, 0, .1), 4px 0px 2px rgba(0, 0, 0, .1), 8px 0px 4px rgba(0, 0, 0, .1), 16px 0px 8px rgba(0, 0, 0, .1), 32px 0px 16px rgba(0, 0, 0, .1);
    --common-shadow-bottom-sm: 0px 1px 1px 0px rgba(0, 0, 0, .1), 0px 2px 2px 0px rgba(0, 0, 0, .1), 0px 4px 4px 0px rgba(0, 0, 0, .1), 0px 6px 8px 0px rgba(0, 0, 0, .1), 0px 8px 16px 0px rgba(0, 0, 0, .1);
    --common-shadow-bottom-md: 0px 2px 1px rgba(0, 0, 0, .1), 0px 4px 2px rgba(0, 0, 0, .1), 0px 8px 4px rgba(0, 0, 0, .1), 0px 16px 8px rgba(0, 0, 0, .1), 0px 32px 16px rgba(0, 0, 0, .1);
    --common-shadow-left-sm: -1px 0px 1px rgba(0, 0, 0, .1), -2px 0px 2px rgba(0, 0, 0, .1), -4px 0px 4px rgba(0, 0, 0, .1), -6px 0px 8px rgba(0, 0, 0, .1), -8px 0px 16px rgba(0, 0, 0, .1);
    --common-shadow-left-md: -2px 0px 1px rgba(0, 0, 0, .1), -4px 0px 2px rgba(0, 0, 0, .1), -8px 0px 4px rgba(0, 0, 0, .1), -16px 0px 8px rgba(0, 0, 0, .1), -32px 0px 16px rgba(0, 0, 0, .1);

    /* Density */
    --density-layout-1: 4px;
    --density-layout-2: 8px;
    --density-layout-3: 12px;
    --density-layout-4: 16px;
    --density-layout-5: 20px;
    --density-layout-6: 24px;
    --density-layout-7: 28px;
    --density-layout-8: 32px;
    --density-layout-9: 36px;
    --density-layout-10: 40px;
    --density-layout-12: 48px;
    --density-layout-14: 56px;
    --density-layout-16: 64px;
    --density-layout-20: 80px;
    --density-layout-24: 96px;
    --density-layout-32: 128px;
    --density-layout-40: 160px;
    --density-layout-48: 192px;
    --density-layout-56: 224px;
    --density-layout-64: 256px;
    --density-layout-1-5: 6px;
    --density-layout-2-5: 10px;
    --density-spacing-1: 4px;
    --density-spacing-2: 8px;
    --density-spacing-3: 12px;
    --density-spacing-4: 16px;
    --density-spacing-5: 20px;
    --density-spacing-6: 24px;
    --density-spacing-7: 28px;
    --density-spacing-8: 32px;
    --density-spacing-9: 36px;
    --density-spacing-10: 40px;
    --density-spacing-12: 48px;
    --density-spacing-14: 56px;
    --density-spacing-16: 64px;
    --density-spacing-20: 80px;
    --density-spacing-24: 96px;
    --density-spacing-32: 128px;
    --density-spacing-40: 160px;
    --density-spacing-48: 192px;
    --density-spacing-56: 224px;
    --density-spacing-64: 256px;
    --density-spacing-1-5: 6px;
    --density-spacing-2-5: 10px;
    --density-border-width-1: 4px;
    --density-border-width-0-25: 1px;
    --density-border-width-0-375: 1.5px;
    --density-border-width-0-5: 2px;
    --density-border-width-0-625: 2.5px;
    --density-border-width-0-75: 3px;
    --density-border-radius-1: 4px;
    --density-border-radius-2: 8px;
    --density-border-radius-3: 12px;
    --density-border-radius-4: 16px;
    --density-border-radius-5: 20px;
    --density-border-radius-6: 24px;
    --density-border-radius-7: 28px;
    --density-border-radius-0-5: 2px;
    --density-border-radius-1-5: 6px;
    --density-border-radius-2-5: 10px;
    --density-border-radius-round: 999px;
    --density-typography-eyebrow-lg-font-family: Inter;
    --density-typography-eyebrow-lg-font-weight: 700;
    --density-typography-eyebrow-lg-font-size: 14px;
    --density-typography-eyebrow-lg-line-height: 100%;
    --density-typography-eyebrow-lg-letter-spacing: 1.4px;
    --density-typography-eyebrow-md-font-family: Inter;
    --density-typography-eyebrow-md-font-weight: 700;
    --density-typography-eyebrow-md-font-size: 12px;
    --density-typography-eyebrow-md-line-height: 100%;
    --density-typography-eyebrow-md-letter-spacing: 1.2px;
    --density-typography-eyebrow-sm-font-family: Inter;
    --density-typography-eyebrow-sm-font-weight: 700;
    --density-typography-eyebrow-sm-font-size: 10px;
    --density-typography-eyebrow-sm-line-height: 100%;
    --density-typography-eyebrow-sm-letter-spacing: 1px;
    --density-typography-heading-4xl-font-family: "Inter Tight";
    --density-typography-heading-4xl-font-weight: 900;
    --density-typography-heading-4xl-font-size: 64px;
    --density-typography-heading-4xl-line-height: 125%;
    --density-typography-heading-3xl-font-family: "Inter Tight";
    --density-typography-heading-3xl-font-weight: 900;
    --density-typography-heading-3xl-font-size: 52px;
    --density-typography-heading-3xl-line-height: 125%;
    --density-typography-heading-2xl-font-family: "Inter Tight";
    --density-typography-heading-2xl-font-weight: 900;
    --density-typography-heading-2xl-font-size: 40px;
    --density-typography-heading-2xl-line-height: 125%;
    --density-typography-heading-xl-font-family: "Inter Tight";
    --density-typography-heading-xl-font-weight: 900;
    --density-typography-heading-xl-font-size: 32px;
    --density-typography-heading-xl-line-height: 125%;
    --density-typography-heading-lg-font-family: "Inter Tight";
    --density-typography-heading-lg-font-weight: 700;
    --density-typography-heading-lg-font-size: 24px;
    --density-typography-heading-lg-line-height: 125%;
    --density-typography-heading-lg-letter-spacing: 0.24px;
    --density-typography-heading-md-font-family: "Inter Tight";
    --density-typography-heading-md-font-weight: 700;
    --density-typography-heading-md-font-size: 20px;
    --density-typography-heading-md-line-height: 125%;
    --density-typography-heading-md-letter-spacing: 0.4px;
    --density-typography-heading-sm-font-family: "Inter Tight";
    --density-typography-heading-sm-font-weight: 700;
    --density-typography-heading-sm-font-size: 16px;
    --density-typography-heading-sm-line-height: 125%;
    --density-typography-heading-sm-letter-spacing: 0.48px;
    --density-typography-paragraph-2xl-font-family: Inter;
    --density-typography-paragraph-2xl-font-size: 24px;
    --density-typography-paragraph-2xl-line-height: 165%;
    --density-typography-paragraph-2xl-letter-spacing: -0.48px;
    --density-typography-paragraph-xl-font-family: Inter;
    --density-typography-paragraph-xl-font-size: 20px;
    --density-typography-paragraph-xl-line-height: 165%;
    --density-typography-paragraph-xl-letter-spacing: -0.2px;
    --density-typography-paragraph-lg-font-family: Inter;
    --density-typography-paragraph-lg-font-size: 18px;
    --density-typography-paragraph-lg-line-height: 165%;
    --density-typography-paragraph-lg-letter-spacing: 0px;
    --density-typography-paragraph-md-font-family: Inter;
    --density-typography-paragraph-md-font-size: 16px;
    --density-typography-paragraph-md-line-height: 165%;
    --density-typography-paragraph-md-letter-spacing: 0.16px;
    --density-typography-paragraph-sm-font-family: Inter;
    --density-typography-paragraph-sm-font-size: 14px;
    --density-typography-paragraph-sm-line-height: 165%;
    --density-typography-paragraph-sm-letter-spacing: 0.28px;
    --density-typography-text-xl-font-family: Inter;
    --density-typography-text-xl-font-size: 24px;
    --density-typography-text-xl-line-height: 150%;
    --density-typography-text-xl-letter-spacing: 0.24px;
    --density-typography-text-lg-font-family: Inter;
    --density-typography-text-lg-font-size: 16px;
    --density-typography-text-lg-line-height: 150%;
    --density-typography-text-lg-letter-spacing: 0.16px;
    --density-typography-text-md-font-family: Inter;
    --density-typography-text-md-font-size: 14px;
    --density-typography-text-md-line-height: 140%;
    --density-typography-text-md-letter-spacing: 0.28px;
    --density-typography-text-sm-font-family: Inter;
    --density-typography-text-sm-font-size: 12px;
    --density-typography-text-sm-line-height: 130%;
    --density-typography-text-sm-letter-spacing: 0.36px;
    --density-typography-text-xs-font-family: Inter;
    --density-typography-text-xs-font-size: 8px;
    --density-typography-text-xs-line-height: 130%;
    --density-typography-text-xs-letter-spacing: 0.24px;

    /* Default Colors */
    --colors-palette-transparent-light-100: #fff;
    --colors-palette-transparent-light-005: hsla(0, 0%, 100%, .05);
    --colors-palette-transparent-light-010: hsla(0, 0%, 100%, .1);
    --colors-palette-transparent-light-015: hsla(0, 0%, 100%, .15);
    --colors-palette-transparent-light-035: hsla(0, 0%, 100%, .35);
    --colors-palette-transparent-light-065: hsla(0, 0%, 100%, .65);
    --colors-palette-transparent-dark-100: #000;
    --colors-palette-transparent-dark-005: rgba(0, 0, 0, .05);
    --colors-palette-transparent-dark-010: rgba(0, 0, 0, .1);
    --colors-palette-transparent-dark-015: rgba(0, 0, 0, .15);
    --colors-palette-transparent-dark-035: rgba(0, 0, 0, .35);
    --colors-palette-transparent-dark-065: rgba(0, 0, 0, .65);
    --colors-palette-grayscale-1: #101014;
    --colors-palette-grayscale-2: #18181c;
    --colors-palette-grayscale-3: #202024;
    --colors-palette-grayscale-4: #28282c;
    --colors-palette-grayscale-5: #303034;
    --colors-palette-grayscale-6: #404044;
    --colors-palette-grayscale-7: #505054;
    --colors-palette-grayscale-8: #606064;
    --colors-palette-grayscale-9: #707074;
    --colors-palette-grayscale-10: #808084;
    --colors-palette-grayscale-11: #aaaaae;
    --colors-palette-grayscale-12: #e6e6ea;
    --colors-palette-red-200: #ff3f56;
    --colors-palette-red-300: #ff6173;
    --colors-palette-red-400: #ff8291;
    --colors-palette-pink-200: #fe54ba;
    --colors-palette-pink-300: #fe71c6;
    --colors-palette-purple-200: #be3dff;
    --colors-palette-purple-300: #d480ff;
    --colors-palette-indigo-200: #7371ff;
    --colors-palette-indigo-300: #aaa8ff;
    --colors-palette-blue-200: #26bbff;
    --colors-palette-blue-300: #61cdff;
    --colors-palette-blue-400: #72d3ff;
    --colors-palette-cyan-200: #43dac2;
    --colors-palette-cyan-300: #88e7d7;
    --colors-palette-green-200: #45c761;
    --colors-palette-green-300: #71d687;
    --colors-palette-lime-200: #a9d34f;
    --colors-palette-lime-300: #bfde7c;
    --colors-palette-yellow-200: #ffc229;
    --colors-palette-yellow-300: #ffd15c;
    --colors-palette-amber-200: #ff8e1f;
    --colors-palette-amber-300: #ffb061;
    --colors-palette-orange-200: #fd6535;
    --colors-palette-orange-300: #fd7b53;
    --colors-palette-brown-200: #b2715d;
    --colors-palette-brown-300: #c89889;
    --colors-background-menu: #303034;
    --colors-background-default: #101014;
    --colors-background-backdrop-strong: rgba(0, 0, 0, .65);
    --colors-background-backdrop-regular: rgba(0, 0, 0, .35);
    --colors-background-elevated-low-default: #18181c;
    --colors-background-elevated-low-transparent: hsla(0, 0%, 100%, .05);
    --colors-background-elevated-high-default: #202024;
    --colors-background-elevated-high-hover: #404044;
    --colors-background-elevated-high-press: #202024;
    --colors-background-elevated-high-select: #28282c;
    --colors-border-default: hsla(0, 0%, 100%, .35);
    --colors-border-hover: hsla(0, 0%, 100%, .65);
    --colors-border-press: hsla(0, 0%, 100%, .35);
    --colors-border-focus: #fff;
    --colors-border-disabled: hsla(0, 0%, 100%, .35);
    --colors-border-subdued: hsla(0, 0%, 100%, .1);
    --colors-border-subtle: hsla(0, 0%, 100%, .15);
    --colors-border-input-default: hsla(0, 0%, 100%, .35);
    --colors-border-accent-default: hsla(0, 0%, 100%, .65);
    --colors-border-accent-hover: #fff;
    --colors-border-critical-default: #ff3f56;
    --colors-border-critical-hover: #ff8291;
    --colors-border-critical-press: #ff3f56;
    --colors-fill-primary-default: #26bbff;
    --colors-fill-primary-hover: #72d3ff;
    --colors-fill-primary-press: #26bbff;
    --colors-fill-secondary-default: hsla(0, 0%, 100%, .15);
    --colors-fill-secondary-hover: hsla(0, 0%, 100%, .35);
    --colors-fill-secondary-press: hsla(0, 0%, 100%, .15);
    --colors-fill-secondary-subdued: #000;
    --colors-fill-secondary-recessed: #101014;
    --colors-fill-secondary-elevated-default: hsla(0, 0%, 100%, .65);
    --colors-fill-secondary-elevated-hover: hsla(0, 0%, 100%, .35);
    --colors-fill-tertiary-default: transparent;
    --colors-fill-tertiary-hover: hsla(0, 0%, 100%, .15);
    --colors-fill-tertiary-press: transparent;
    --colors-fill-tertiary-elevated-hover: hsla(0, 0%, 100%, .35);
    --colors-fill-tertiary-select-default: hsla(0, 0%, 100%, .15);
    --colors-fill-tertiary-select-hover: hsla(0, 0%, 100%, .35);
    --colors-fill-tertiary-select-press: hsla(0, 0%, 100%, .15);
    --colors-fill-contrast-default: #fff;
    --colors-fill-contrast-hover: #a6a6a6;
    --colors-fill-contrast-press: #fff;
    --colors-fill-input-default: hsla(0, 0%, 100%, .05);
    --colors-fill-informational-default: #61cdff;
    --colors-fill-success-default: #45c761;
    --colors-fill-success-alternate: #71d687;
    --colors-fill-warning-default: #ffc229;
    --colors-fill-warning-alternate: #ffd15c;
    --colors-fill-critical-default: #ff3f56;
    --colors-fill-critical-alternate: #ff6173;
    --colors-fill-critical-hover: #ff8291;
    --colors-fill-critical-press: #ff3f56;
    --colors-fill-disabled-primary: hsla(0, 0%, 100%, .15);
    --colors-fill-disabled-secondary: hsla(0, 0%, 100%, .35);
    --colors-fill-disabled-tertiary: transparent;
    --colors-icon-primary: #fff;
    --colors-icon-secondary: hsla(0, 0%, 100%, .65);
    --colors-icon-informational: #26bbff;
    --colors-icon-success: #45c761;
    --colors-icon-warning: #ffc229;
    --colors-icon-critical: #ff3f56;
    --colors-icon-on-accent: #000;
    --colors-icon-contrast: #fff;
    --colors-icon-select-default: #26bbff;
    --colors-icon-select-hover: #61cdff;
    --colors-icon-link-primary-default: #26bbff;
    --colors-icon-link-primary-press: #61cdff;
    --colors-icon-link-secondary-default: #fff;
    --colors-icon-link-secondary-press: #fff;
    --colors-icon-disabled-default: hsla(0, 0%, 100%, .65);
    --colors-icon-disabled-inverted: #000;
    --colors-text-primary: #fff;
    --colors-text-secondary: hsla(0, 0%, 100%, .65);
    --colors-text-success: #45c761;
    --colors-text-warning: #ffc229;
    --colors-text-critical: #ff6173;
    --colors-text-on-accent: #000;
    --colors-text-contrast: #fff;
    --colors-text-select-default: #26bbff;
    --colors-text-select-hover: #61cdff;
    --colors-text-link-primary-default: #26bbff;
    --colors-text-link-primary-press: #61cdff;
    --colors-text-link-secondary-default: #fff;
    --colors-text-link-secondary-press: #fff;
    --colors-text-link-on-accent-default: #000;
    --colors-text-link-on-accent-press: #000;
    --colors-text-disabled-default: hsla(0, 0%, 100%, .65);
    --colors-text-disabled-inverted: #000;
    --colors-material-default-strong: rgba(16, 16, 20, .7);
    --colors-material-default-regular: rgba(16, 16, 20, .5);
    --colors-material-default-weak: rgba(16, 16, 20, .4);
    --colors-material-elevated-low-strong: rgba(32, 32, 36, .7);
    --colors-material-elevated-low-regular: rgba(32, 32, 36, .5);
    --colors-material-elevated-low-weak: rgba(32, 32, 36, .4);
    --colors-material-elevated-high-strong: rgba(48, 48, 52, .7);
    --colors-material-elevated-high-regular: rgba(48, 48, 52, .5);
    --colors-material-elevated-high-weak: rgba(48, 48, 52, .4);
}

html,
body {
    background-color: var(--colors-background-default) !important;
    color: var(--colors-text-primary) !important;
    font-family: var(--density-typography-text-md-font-family) !important;
    font-size: var(--density-typography-text-md-font-size) !important;
    letter-spacing: var(--density-typography-text-md-letter-spacing) !important;
    line-height: var(--density-typography-text-md-line-height) !important;
}