body {
    background-color: #141414 !important;
    color: white !important;
}

#region-main,
.popover-region-container,
.popover-region-container .list-group-item,
.card,
.card .page-link,
.card .page-item.disabled .page-link,
.dropdown-menu,
.dropdown-divider,
.message-app .list-group-item,
.message-app textarea[class*="bg-light"],
.message-app input,
.message-app .simplesearchform .btn-submit,
.page-link,
.nav-tabs .nav-link.active,
.userprofile .page-context-header .btn,
.form-control,
.moodle-dialogue-base .nav-pills .nav-link.active:not(:disabled):not(.disabled).active,
.notification-area,
.content-item-container,
.comment-area textarea,
.custom-select,
.que .formulation,
.que .info,
.moodle-dialogue-base .moodle-dialogue-wrap,
.draghome,
.popover,
.popover-header {
    background-color: #292929 !important;
    border-color: #3D3D3D !important;
}

#nav-drawer,
.navbar .top-nav-container,
.nav-controlpanel {
    box-shadow: none !important;
}

#nav-drawer .list-group,
.nav-drawer {
    padding-top: 8px !important;
}

#nav-drawer .nav-link {
    margin: 0px 8px !important;
    border-radius: 8px !important;
}

#nav-drawer .nav-link.active:not(:disabled):not(.disabled).active {
    border: none !important;
    background-color: transparent !important;
    color: #6ea8fe !important;
}

#nav-drawer li.nav-item {
    margin-left: 2px !important;
}

#nav-drawer li.nav-item.active {
    border-left: #2B88D8 2px solid !important;
}

.side-navigation .nav-item .nav-link.hover,
.side-navigation .nav-item .nav-link:hover,
.side-navigation .nav-item .nav-link[aria-expanded="true"],
.side-navigation .nav-item .nav-link.hover,
#nav-drawer .nav-item .nav-link.hover,
#nav-drawer .nav-link.active:not(:disabled):not(.disabled).active:hover,
.side-navigation .nav-item .nav-link[aria-expanded="true"]:not(.active) {
    background-color: #1A1A1A !important;
}

.drawer-region .list-group-item .list-group-item-inner-container {
    border-bottom: none !important;
}

.nav-drawer>.list-group-item {
    margin: 0px 8px !important;
}

.drawer-region .list-group-item .list-group-item-inner-container {
    border-radius: 4px !important;
}

.drawer-region .list-group-item .list-group-item-inner-container:hover {
    background-color: #333333 !important;
}

.side-navigation .list-group-item .list-group-item-inner-container.active .locator,
.drawer-region .list-group-item .list-group-item-inner-container.active .locator {
    display: none !important;
}

#nav-drawer .list-group-item.active .list-group-item-inner-container .active {
    font-weight: 600 !important;
    border-radius: 4px !important;
}

#nav-drawer .list-group-item.active .list-group-item-action,
#nav-drawer .list-group-item.activechild .list-group-item-action,
#nav-drawer .list-group-item.active .list-group-item-inner-container,
#nav-drawer .list-group-item.activechild .list-group-item-inner-container {
    margin-left: 0px !important;
}

#nav-drawer .list-group-item.active>.list-group-item-inner-container.active {
    background-color: #0A2E4A !important;
}

.drawer-region .list-group-item .toggle .icon {
    font-size: x-small !important;
}

.usermenu.list-item-nav>.list-group-item>.list-group-item-action:hover>span>span.usertext,
.usermenu.list-item-nav>.list-group-item>.list-group-item-action:focus>span>span.usertext,
.usermenu.list-item-nav>.list-group-item>.list-group-item-action:active>span>span.usertext {
    border: none !important;
}

.form-control {
    height: calc(1.25em + 1.5rem - 2px) !important;
}

.nav-controlpanel .clockcontainer .fullclock {
    border: none !important;
    padding: 0px !important;
}

.userprofile .page-context-header .btn:hover,
.simplesearchform .btn-submit,
.badge-light {
    background-color: #141414 !important;
    border-color: #3D3D3D !important;
}

.section-navigation h2.sectionname,
h1>span,
h2>span,
h3>span,
h4>span,
h5>span,
h6>span,
.popover-region-header-text,
.text-body {
    color: #dee2e6 !important;
}

.nav-controlpanel {
    background-color: #292929 !important;
    border-bottom: 1px solid #3D3D3D !important;
}

.nav-tabs .nav-link.active,
.nav-link.active:not(:disabled):not(.disabled).active {
    border: 1px solid;
}

.no-overflow a[style*="background-color: rgb(255, 255, 255)"],
.forumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: transparent !important;
}

.no-overflow div[style*="border: 1px solid #b5bef6"] {
    border-color: #ffffff !important;
}

#region-main a:not(.dropdown-item, .page-link, .btn, .fp-path-folder-name),
.card-body a:not(.dropdown-item, .page-link, .btn),
.table thead th,
.btn-link,
#page-heading span.nav-subtitle {
    color: #6ea8fe !important;
    border-bottom: none !important;
}

#region-main a:not(.dropdown-item, .page-link, .btn):hover,
#region-main a:not(.dropdown-item, .page-link, .btn):focus,
.card-body a:not(.dropdown-item, .page-link, .btn):hover,
.card-body a:not(.dropdown-item, .page-link, .btn):focus {
    color: #8bb9fe !important;
    background: none !important;
    border-bottom: none !important;
    border-top: none !important;
}

.side-navigation,
.side-navigation .nav-item,
.side-navigation .nav-link,
.navbar .top-nav-container,
.usermenu.list-item-nav>.list-group-item>.list-group-item-action,
#nav-drawer-menu-list>.overflow-auto.h-100,
.course-nav-container,
.scroll-top-wrapper {
    background-color: #0a0a0a !important;
}

.drawer-region,
.nav-drawer,
.popover-region-header-container,
.popover-region-content-container,
.card .dashboard-card,
.path-mod-quiz #mod_quiz_navblock .qnbutton,
.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight,
.content-item-container,
.path-mod .automatic-completion-conditions .badge.badge-light {
    background-color: #141414 !important;
}

.side-navigation .nav-item .nav-link[aria-expanded="true"],
.side-navigation .nav-item.active .nav-link,
.side-navigation .nav-item.previous-active .nav-link,
#nav-drawer .list-group-item.active .list-group-item-inner-container,
#nav-drawer .list-group-item.activechild>.list-group-item-inner-container {
    box-shadow: none !important;
    background: none !important;
}

.side-navigation .list-group-item .list-group-item-inner-container,
.drawer-region .list-group-item .list-group-item-inner-container,
#nav-drawer .side-navigation,
.popover-region-header-container,
.generaltable th,
.generaltable td,
.gradingform_rubric .criterion,
.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage .thispageholder,
.nav.nav-tabs,
.table thead th,
.table th,
.table td,
.section li.activity.hasinfo,
.notification-area .control-area,
.notification-area .content-area .header,
.border-bottom,
.secondary-navigation .navigation,
#page-header,
.nav.nav-tabs .nav-link.active,
.course-content .section .activity-item,
.path-mod .activity-information .completion-info,
.border,
.modchoosercontainer .optionscontainer .option .optioninfo,
.modchoosercontainer .searchresultitemscontainer .option .optioninfo,
.card-header,
.border-right,
.drawer-region,
.modal-header,
.modal-footer,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.mform fieldset,
.gradingform_rubric .criterion .levels .level,
.gradingform_rubric .criterion .levels .level.last,
#local_extensions-requests .border-bottom-0,
h1.card-title,
h2.card-title,
h3.card-title,
h4.card-title,
h5.card-title,
h6.card-title,
#region-main .course-content .section-navigation.navigationtitle,
div[role="main"]>h2,
.format-flexsections .course-section-header,
.border-top,
.border-left,
.border-right,
.border-bottom,
.forumpost .header,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.tertiary-navigation.full-width-bottom-border {
    border-color: #3D3D3D !important;
}

.card-body .list-group-item,
#user-nav-collapse .list-group-item .list-group-item-action,
.fp-iconview .fp-filename-field .fp-filename,
#quiz-timer-wrapper #quiz-timer,
.no-overflow span[style*="background-color: rgb(255, 255, 255)"],
.overlay-icon-container,
.message-app .message.send,
.message-app .message.received,
.modal-content,
.gradingform_rubric .criterion.odd,
.notification-area .control-area .content .content-item-container,
.bg-secondary,
.message-app,
.message-app div[class*="bg-white"],
.bg-light,
.no-overflow table[style*="border-radius:6px"],
.no-overflow div[style*="background: white"],
.no-overflow div[style*="background-color: #fff"],
.no-overflow div[style*="background-color: rgb(255, 255, 255)"],
.forumpost .header,
.row .btn-secondary,
.row .btn-secondary:hover {
    background-color: #292929 !important;
}

#page-footer .footer-links,
#page-footer .footer-info {
    box-shadow: 0 200vh 0 200vh #0a0a0a !important;
    background: #0a0a0a !important;
}

.block .dropdown>.btn,
.block .gradingform_guide.editor .addcomment .dropdown>input,
.gradingform_guide.editor .addcomment .block .dropdown>input,
.block .gradingform_guide.editor .addcriterion .dropdown>input,
.gradingform_guide.editor .addcriterion .block .dropdown>input,
.block .gradingform_rubric .criterion .addlevel .dropdown>input,
.gradingform_rubric .criterion .addlevel .block .dropdown>input,
.block .gradingform_rubric.editor .addcriterion .dropdown>input,
.gradingform_rubric.editor .addcriterion .block .dropdown>input,
.block .modchoosercontainer .optionscontainer .option .dropdown>.optioninfo,
.modchoosercontainer .optionscontainer .option .block .dropdown>.optioninfo,
.block .modchoosercontainer .searchresultitemscontainer .option .dropdown>.optioninfo,
.modchoosercontainer .searchresultitemscontainer .option .block .dropdown>.optioninfo,
.block .btn-group>.btn,
.block .gradingform_guide.editor .addcomment .btn-group>input,
.gradingform_guide.editor .addcomment .block .btn-group>input,
.block .gradingform_guide.editor .addcriterion .btn-group>input,
.gradingform_guide.editor .addcriterion .block .btn-group>input,
.block .gradingform_rubric .criterion .addlevel .btn-group>input,
.gradingform_rubric .criterion .addlevel .block .btn-group>input,
.block .gradingform_rubric.editor .addcriterion .btn-group>input,
.gradingform_rubric.editor .addcriterion .block .btn-group>input,
.block .modchoosercontainer .optionscontainer .option .btn-group>.optioninfo,
.modchoosercontainer .optionscontainer .option .block .btn-group>.optioninfo,
.block .modchoosercontainer .searchresultitemscontainer .option .btn-group>.optioninfo,
.modchoosercontainer .searchresultitemscontainer .option .block .btn-group>.optioninfo,
.dropdown-menu a,
.card-body .dropdown-menu,
.page-link,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd,
.path-mod-assign .gradingform_rubric,
.que .formulation,
.path-mod-quiz #mod_quiz_navblock .qnbutton,
.popover-region-content-container .link-title,
.message-app .simplesearchform .btn-submit,
.table,
.text-dark,
.path-mod-forum .nav-controlpanel ul>li:nth-child(2) aside>div:first-child .simplesearchform button[type="submit"].btn-submit,
.alert,
.alert li,
.alert p,
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6,
#region-main p,
#region-main span:not(#paging-bar-0 span):not(code span),
.generaltable,
ol.breadcrumb li.breadcrumb-item a,
.card-body h2,
div[role="main"]>h2,
.no-overflow table[style*="border-radius:6px"],
.no-overflow div[style*="background: white"],
.no-overflow div[style*="background-color: #fff"],
.no-overflow div[style*="background-color: rgb(255, 255, 255)"],
.moodle-dialogue-base .closebutton,
.moodle-dialogue-base a,
.fp-path-folder-name,
.notification a,
.content-item-container:hover,
.comment-area textarea,
.custom-select,
.btn,
#page-header h1,
#page-header h2,
#page-header h3,
#page-header h4,
#page-header h5,
#page-header h6,
.mform .ftoggler h1,
.mform .ftoggler h2,
.mform .ftoggler h3,
.mform .ftoggler h4,
.mform .ftoggler h5,
.mform .ftoggler h6,
.content-item-container:hover .content-item-footer .timestamp,
.popover,
.popover-body,
.popover-header {
    color: #ffffff !important;
}

.card small,
.muted,
.text-muted,
.page-item.disabled .page-link,
.form-control {
    color: rgba(222, 226, 230, 0.75) !important;
}

.formattedusercontent hr {
    border-color: rgba(222, 226, 230, 0.75) !important;
}

.bg-pulse-grey {
    animation: bg-pulse-dark 2s infinite linear !important;
}

@keyframes bg-pulse-dark {
    0% {
        background-color: #292929;
    }

    50% {
        background-color: #141414;
    }

    100% {
        background-color: #292929;
    }
}

.generaltable td:hover,
.generaltable tr:hover {
    color: inherit !important;
}

.fp-iconview .fp-thumbnail,
.fp-iconview .fp-thumbnail img {
    border: none !important;
    box-shadow: none !important;
}

.que .outcome,
.que .comment,
.alert-warning {
    background-color: #332701 !important;
    border-color: #997404 !important;
    color: #ffda6a !important;
}

.alert-danger,
.tii_links_container .warning,
.pp_errors_warning {
    background-color: #2c0b0e !important;
    border-color: #842029 !important;
    color: #ea868f !important;
}

.badge-pill .alert-info {
    background-color: #087990 !important;
}

.badge-pill .alert-success,
.alert-success,
.environmenttable .ok {
    background-color: #0f5132 !important;
}

.badge-pill .alert-primary {
    background-color: #084298 !important;
}

.badge-pill .alert-secondary {
    background-color: #41464b !important;
}

.badge-pill .alert-danger {
    background-color: #842029 !important;
}

.badge-pill .alert-warning {
    background-color: #997404 !important;
}

.gradingform_rubric .criterion .level.checked,
.gradingform_rubric .criterion .levels .level.checked .level-wrapper,
.path-mod-assign td.submissionstatussubmitted,
.path-mod-assign div.submissionstatussubmitted,
.path-mod-assign a:link.submissionstatussubmitted,
.path-mod-assign td.submissionlocked,
.path-mod-assign td.earlysubmission,
.path-mod-assign div.earlysubmission,
.alert-success:not(.badge-pill) {
    background-color: #051b11 !important;
    border-color: #0f5132 !important;
    color: #75b798 !important;
}

.tii_checkagainstnote,
.tii_anonblindmarkingnote,
.tii_genspeednote,
.alert-info {
    background: #032830 !important;
    border-color: #087990 !important;
    color: #6edff6 !important;
}

.alert-primary {
    background: #031633 !important;
    border-color: #084298 !important;
    color: #6ea8fe !important;
}

.alert-secondary {
    background: #161719 !important;
    border-color: #41464b !important;
    color: #a7acb1 !important;
}

.path-mod-assign td.latesubmission,
.path-mod-assign a:link.latesubmission,
.path-mod-assign div.latesubmission {
    color: #ffffff !important;
    background-color: #2c0b0e !important;
}

table.quizreviewsummary th.cell,
table.quizreviewsummary td.cell,
.que.multichoice .answer .specificfeedback,
.description .course-description-item,
.path-mod .activity-header:not(:empty),
.message-app .view-overview-body .section,
#page-header,
.secondary-navigation .navigation,
.moremenu .nav-tabs,
#nav-drawer .list-group-item.active,
#nav-drawer .list-group-item.activechild,
#nav-drawer .list-group-item.activechild .list-group-item-inner-container,
#region-main p a,
.path-grade-report-user .user-report-container,
.grade-report-user .user-report-container,
.path-grade-report-user .user-grade thead th,
.path-grade-report-user .user-grade tbody tr,
.path-grade-report-user .user-grade th.category,
.grade-report-user .user-grade th.category,
.path-grade-report-user .user-grade td.item,
.grade-report-user .user-grade td.item,
.path-grade-report-user .user-grade td,
.grade-report-user .user-grade td,
.path-grade-report-user .user-grade th.column-itemname:not(.header, .category, .baggt, .baggb),
.grade-report-user .user-grade th.column-itemname:not(.header, .category, .baggt, .baggb),
.gradingform_rubric .criterion.even,
.gradingform_rubric .criterion.even td,
.nav.nav-tabs .nav-link {
    background: none !important;
}

.gradingform_rubric .criterion.odd td {
    background: rgba(0, 0, 0, .05) !important;
}

#quiz-timer-wrapper #quiz-timer {
    border-color: #842029 !important;
}

.visual-scroll-x::-webkit-scrollbar-track,
.visual-scroll-x::-webkit-scrollbar-thumb {
    border-right: none !important;
}

.text-primary,
.message-app .day,
.page-context-header .page-header-image h1,
.page-context-header .page-header-headings h1,
.message-app .message.send .time,
.message-app .message.received {
    color: white !important;
}

#nav-drawer ::-webkit-scrollbar-track {
    background: #141414 !important;
}

#nav-drawer ::-webkit-scrollbar-thumb {
    background: #858585 !important;
}

#nav-drawer ::-webkit-scrollbar {
    width: 5px !important;
}

#drawer-toggle button {
    color: #ADADAD !important;
}

.unisalogo>img {
    content: url("chrome-extension://__MSG_@@extension_id__/img/logo_learnonline.svg") !important;
}

.message-app .message.send .tail,
.message-app .message.received .tail {
    border-bottom-color: #292929 !important;
}

.tertiary-navigation .navitem-divider {
    background-color: #3D3D3D !important;
}

.path-mod .automatic-completion-conditions .badge {
    mix-blend-mode: normal !important;
}

.aalink.focus,
a.focus.autolink,
.aalink:focus,
a.autolink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance>a.focus,
.activityinstance>a:focus {
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    color: #6ea8fe !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #198754 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-info {
    color: #0dcaf0 !important;
}

.menu-opened-overlay {
    background: rgb(0 0 0 / 70%) !important;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
}

.btn-success,
.badge-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
    box-shadow: none !important;
}

.btn-outline-success {
    color: #198754 !important;
    background-color: transparent !important;
    border-color: #198754 !important;
    box-shadow: none !important;
}

.btn-success:hover,
.btn-outline-success:hover {
    background-color: #157347 !important;
    border-color: #146c43 !important;
    box-shadow: none !important;
    color: white !important;
}

.btn-primary,
.badge-primary {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    color: #0d6efd !important;
    background-color: transparent !important;
    border-color: #0d6efd !important;
    box-shadow: none !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
    box-shadow: none !important;
    color: white !important;
}

.btn-secondary,
.badge-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    box-shadow: none !important;
}

.btn-outline-secondary {
    color: #6c757d !important;
    background-color: transparent !important;
    border-color: #6c757d !important;
    box-shadow: none !important;
}

.btn-secondary:hover,
.btn-outline-secondary:hover {
    background-color: #5c636a !important;
    border-color: #565e64 !important;
    box-shadow: none !important;
    color: white !important;
}

.btn-danger,
.badge-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.btn-outline-danger {
    color: #dc3545 !important;
    background-color: transparent !important;
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.btn-danger:hover,
.btn-outline-danger:hover {
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
    box-shadow: none !important;
    color: white !important;
}

.btn-warning,
.badge-warning {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    box-shadow: none !important;
    color: black !important;
}

.btn-outline-warning {
    color: #ffc107 !important;
    background-color: transparent !important;
    border-color: #ffc107 !important;
    box-shadow: none !important;
}

.btn-warning:hover,
.btn-outline-warning:hover {
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
    box-shadow: none !important;
    color: black !important;
}

.btn-info,
.badge-info {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
    box-shadow: none !important;
    color: black !important;
}

.btn-outline-info {
    color: #0dcaf0 !important;
    background-color: transparent !important;
    border-color: #0dcaf0 !important;
    box-shadow: none !important;
}

.btn-info:hover,
.btn-outline-info:hover {
    background-color: #31d2f2 !important;
    border-color: #25cff2 !important;
    box-shadow: none !important;
    color: black !important;
}

.ucuserlist .presence {
    background-color: #5c636a !important;
}

.ucuserlist .presence.online {
    background-color: #198754 !important;
}

.page-item.active .page-link {
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}

.close {
    text-shadow: none !important;
    filter: invert(1) grayscale(100%) brightness(200%) !important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/0.6em auto no-repeat !important;
    width: 1em !important;
    height: 1em !important;
    box-sizing: content-box !important;
}

.close span {
    display: none !important;
}

.alert-dismissible .close {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 2 !important;
    padding: 0.8rem 1rem !important;
}

.nav-tabs .nav-link.active,
.nav-link.active:not(:disabled):not(.disabled).active {
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}

code,
pre {
    color: #e685b5 !important;
}